# Environment variables & secrets
.env

# Python / Byte-code
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Data & Database exports
data/*.csv
data/*.json
*.sqlite3

# System / IDE files
.DS_Store
.vscode/
.idea/
